/* https://tailwindcss.com/docs/customizing-colors 
orange palette   */
@font-face {
    font-family: "interregular";
    src:
      url("fonts/Inter-Medium.woff2") format("woff2"),
      url("fonts/Inter-Medium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "interregular-light";
    src:
      url("fonts/Inter-Light.woff2") format("woff2"),
      url("fonts/Inter-Light.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
    font-family: "interregular", serif;
   
}

:root {
    
    font-size: 16px;
}


/* main grid container */
body {
    display: grid;
    grid-template-columns: 0.70fr 4fr;

}

aside {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 0.35fr 0.9fr 2fr; 
    align-items: start;
    background-color: #f97316;
    color: #fff7ed;
    height: 100vh;
  
}

header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}


/* sidebar grid */

/*
.sidebar-home-nav,
.settings-nav {
    margin: 20% 0 0 10%;
}  */


.logo-dash {
    grid-column: 1 / 3;
    grid-row: 1 / 2; 
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    margin-top: 15px;
}


.sidebar-home-nav img,
.settings-nav img {
    width: 1.5rem;
    height: 1.5rem;
    justify-self: center;
   
   
  
}



.logo-dash-img {
    width: 2.5rem;
    height: 2.5rem;
    align-self: center;
    justify-self: center;
   
}

.logo-dash h1 {
    align-self: center;
  
}




.sidebar-home-nav {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
 

   
}

.settings-nav {
    grid-column: 1 / 3;
    grid-row: 3 / 4; 
}

.sidebar-home-nav > a {
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    grid-auto-rows: 1fr;
    
}

.sidebar-home-nav p,
.settings-nav p {
    align-self: center;
    color: #fff7ed;
    font-weight: bold;
   
}

.settings-nav > a {
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    margin-top: 2.5%;
}

.sidebar-home-nav > a {
    margin-top: 2.5%; 
}

/* header */

header {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(25px, 50px));
    margin: 20px 35px 10px 35px; 
}

.header-top-nav {
    display: grid;
    grid-template-columns: 7fr 1.5fr;
    align-items: start;

}

.search-bar img,
.bell {
    width: 1.3rem;
    height: 1.3rem;
}



.search-bar {
    display: grid;
    grid-template-columns: 1fr 20fr; 

 
}

.search-bar img {
    align-self: center;
    justify-self: start;
}


.tiger-small {
    width: 35px;
    height: 35px;
    margin-top: -10px;
   
}



input[class="search"] {
    border-radius: 15px; 
    appearance: none;
    background-color: #e5e7eb;
    border: none; 
    height: 25px; 
    min-width: 100px; 
    max-width: 75%;
    margin-left: -15px; 

}

.notifications-top-right img {
    display: inline-block;
    
  
}

.notifications-top-right p {
    display: inline-block;
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: 1px;
    justify-self: center;    
   
}

.notifications-top-right {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr; 
    justify-items: end;

   
}

/* header bottom */

.header-bottom-nav {
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
   
}

.account-twitter {
    margin-left: -10px;
}

.account-twitter p {
    display: inline-block;
    line-height: 25px;
    font-weight: bold;
    font-size: 0.75rem;
    letter-spacing: 1px;
}


.account-twitter span {
    font-weight: bold;
    font-size: 1.2rem;
}

.buttons-sharing {
    justify-self: end;
    align-self: center;
}

.buttons-sharing button {
    width: 100px;
    height: 40px;
    background-color: #f97316; 
    color: #fff7ed;
    border: none;
    border-radius: 20px;
    font-family: "interregular";
    font-weight: bold; 
    margin-left: 20px;
    font-size: 0.8rem;
}


.tiger-big {
    width: 55px;
    height: 55px; 
}


/* main */

main {
    background-color: #e5e7eb;
    box-shadow: 0 -2.5px 2px #cbd5e1; 
    padding: 20px 27.5px;
}

main h2 {

    grid-column: 1 / 2; 
    grid-row: 1 / 2;
}

.projects-container {
    display: grid;
    grid-template-columns: 3fr 1fr; 
    grid-template-rows: 0.1fr 9fr;
    gap: 20px;

}

.aside-main-container {
    grid-column: 2 / 3;
    grid-row: 1 / 3; 
}

.project-box {
    background-color: white;
    border-radius: 5px;
    padding: 30px 20px; 
    box-shadow: -7.5px 0 0 #fcd34d;
    display: grid;
    grid-template-rows: 80% 20%;

  
}

.project-box h3 {
    font-size: 1rem;
}


.project-box p {
    font-family: "interregular-light";
    letter-spacing: 0.5px;
    margin-top: 5px;
    font-size: 0.9rem;
}

.article-projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 50px;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.icons-btm-right {
    margin-left: auto;
}

.icons-btm-right img {
    width: 1.3rem;
    height: 1.3rem;
    margin: 0 10px 10px 10px;
    
}


/* main sidebar right announcements */


.aside-main-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 0.1fr 0.45fr 0.45fr; 
}

.announcements-articles {
    background-color: white;
    border-radius: 5px;
    display: grid;
    padding: 25px 30px;

   
}

.trending-articles {
    background-color: white;
    border-radius: 5px;
    padding: 20px 30px; 
}

.aside-main-container > h2 {
    margin-bottom: 20px;
    
    
}

.announcements-articles > div p{
    font-family: "interregular-light", sans-serif;
    font-size: 0.8rem;
    
}

.announcements-articles h3 {
    font-size: 0.9rem;
    line-height: 1.75;
}
.announcements-articles > div:first-of-type {
    padding-bottom: 15px;
    border-bottom: 1px solid #e5e7eb;
}
.announcements-articles > div:last-of-type {
    padding-top: 15px;
    border-top: 1px solid #e5e7eb;;
}

.announcements-articles > div:nth-of-type(2) {
    padding: 15px 0; 
}

/* trending */ 

.trending-container h2 {
    padding-top: 30px;
}

.trending-articles img {
    width: 2rem;
    height: 2rem;
}

.trending-articles div {
    display: grid;
    grid-template-columns: 1fr 6fr;
    
}

.trending-articles div a {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.trending-articles div h4 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: 0.8rem;
 
    
}

.trending-articles div p {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-family: "interregular-light", sans-serif;
    font-weight: lighter;
}

.trending-articles div:first-of-type,
.trending-articles div:nth-of-type(2),
.trending-articles div:nth-of-type(3) {
    padding-bottom: 10px;
}
